.et-Field, .et-adminField {
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

legend {
    width: auto;
    margin-top: 1em;
    padding: 0 20px;
    border: 1px solid #000;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 900;
    font-variant: small-caps;
}

.et-Text {
    font-family: "Consolas", sans-serif;
}

.loader {
    margin: 5% auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid grey; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
}

.et-Controls {
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    transition: all .1s;
}

.et-Button {
    font-family: "Trebuchet MS", sans-serif;
    font-variant: small-caps;
}

.et-Button:nth-child(1) {
    margin: 0 10px;
}

.et-adminField:hover .et-Controls {
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}