.et-Field, .et-adminField {
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

.et-adminField > .yikes {
    display: none;
}

.et-adminField:hover + .yikes{
    display: block;
}

.test {
    display: none;
}

a:hover + div {
    display: block;
}

.et-Field, .et-adminField > legend {
    width: auto;
    margin-top: 1em;
    padding: 5px;
    border: 1px solid #000;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 900;
    font-variant: small-caps;
}

.et-text {
    font-family: "Consolas", sans-serif;
}

.loader {
    margin: 5% auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid grey; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}